section {
    .dynamicHead {
      h2 {
          margin-top: 3rem;
        font-weight: 400;
      }
      .line {
        p {
          opacity: 0;
        }
        width: 65px;
        background-color: #fe4c50;
        height: 7px;
        margin-bottom: 1rem;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.9rem;
      .btns {
          .firstBtn{
              background-color:#fe4c50;
              color:white;
          }
        button {
          background-color: #fff;
          border: 1px solid rgba(210, 206, 206,0.6);
          padding:0.5rem 1rem;
        }
      }
    }
    .cardDyn {
      padding: 0.5rem;
      border-radius: 7px;
      transition: 0.6s;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      .cardImage {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          position: absolute;
          top: 0;
          left: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
      .cardTitle {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        p {
          font-weight: 600;
          display: flex;
          gap: 0.3rem;
          color: #fe4c50;
          span {
            color: black;
            opacity: 0.4;
            text-decoration: line-through;
          }
        }
      }
      .cardBtns {
        button {
          opacity: 0;
          margin-top: 0.5rem;
          border: none;
          background-color: #fe4c50;
          width: 100%;
          padding: 0.5rem;
          color: white;
          font-weight: 600;
          transition: 0.6s;
        }
        &:hover {
          button {
            opacity: 1;
          }
        }
      }
    }
  }